# Node
node_modules/
dist/
build/
coverage/
npm-debug.log*
package-lock.json.orig

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env & logs
.env
*.log

# Editors
.idea/
.vscode/
.DS_Store
*.swp

# Kubernetes
*.kube/config
.kube/cache/
k8s/app-secrets.yaml        

# Terraform
terraform.tfvars
*.tfvars
.terraform/